.git
.github
.env
.env.*
.release-cosign.json
.release-image.json
.release-sha
.runtime
.venv
.venv*
__pycache__
*.egg-info
*.py[cod]
.mypy_cache
.pytest_cache
.ruff_cache
coverage.xml
ops
tests
requirements-dev.lock
requirements-dev-linux.lock
secrets
secrets/**
